// Base
// ––––––––––––––––––––––––––––––––––––––––––––––––––

$serif-font: "Titillium Web", "Helvetica Neue", "Arial", serif;
$sans-serif-font: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

// Set box-sizing globally to handle padding and border widths
*,
*:after,
*:before {
  box-sizing: inherit;
}

// The base font-size is set at 62.5% for having the convenience
// of sizing rems in a way that is similar to using px: 1.6rem = 16px
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

// Default body styles
body {
  color: $color-tertiary;
  font-family: $sans-serif-font;
  font-size: 1.6em;
  font-weight: 300;
  letter-spacing: 0.01em;
  line-height: 1.6;
  background-color: #ffffff;
}
