// Color
// ––––––––––––––––––––––––––––––––––––––––––––––––––

$color-initial: #fff !default;
$color-primary: #5cdb95 !default;
$color-secondary: #05386b !default;
$color-tertiary: #444444 !default;
$color-quaternary: #d1d1d1 !default;
$color-quinary: #e1e1e1 !default;
